params {
    // Run parameters
    projectFolder = "/hpc/pmc_vanheesch/projects/mvangijzen/nbl_longread/"
    readsPath = "${projectFolder}/data/**.{fastq.gz,fq.gz}"
    pairedEnd = false
    outDir = "/hpc/pmc_vanheesch/projects/mvangijzen/nbl_longread/analysis/gffcompare_combine/"
    
    //Toggle modules
    qc = false
    align = false
    assembly = false
    sampleGTFList = "${outDir}/gtflist.txt"
    mergedGTFbasename = "nbl_longread_transcriptome"

    // Reference parameters
    species="Homo_sapiens"
    genome_version="GRCh38"
    annot_version="102"

    //Set paths
    resourceDir="/hpc/pmc_vanheesch/shared_resources"
    containerDir = "/hpc/local/Rocky8/pmc_vanheesch/singularity_images/"

    // Set reference files
    starIndexBasedir="${resourceDir}/GENOMES/${species}.${genome_version}/${annot_version}/STAR/2.7.8a"
    referenceGTF="${resourceDir}/GENOMES/${species}.${genome_version}/${annot_version}/annotation/${species}.${genome_version}.${annot_version}.gtf"
    refseqGTF="${resourceDir}/GENOMES/${species}.${genome_version}/${annot_version}/annotation/${species}.${genome_version}.p13"
    referenceGenome="/${resourceDir}/GENOMES/${species}.${genome_version}/${annot_version}/${species}.${genome_version}.dna.primary_assembly.fa"
    maskedFasta="${resourceDir}/GENOMES/${species}.${genome_version}/${annot_version}/${species}.${genome_version}.dna_sm.primary_assembly.fa"
    twobit="${resourceDir}/GENOMES/${species}.${genome_version}/${annot_version}/${species}.${genome_version}.dna.primary_assembly.2bit"
    kallistoIndex="${resourceDir}/GENOMES/${species}.${genome_version}/${annot_version}/kallisto/0.44/kallisto_index"

}

//Set container for each process
process {
    withName:trimGalore {
        container = "${params.containerDir}/trimgalore-0.6.6.sif"
    }
    withName:checkStrand {
        container = "${params.containerDir}/howarewestrandedhere-1.0.1a.sif"
    }
    withName:starAlign {
        container = "${params.containerDir}/STAR-2.7.8a.sif"
    }
    withName:samtools {
        container = "${params.containerDir}/samtools-1.12.sif"
    }
    withName:stringtie {
        container = "${params.containerDir}/stringtie-2.1.5.sif"
    }
    withName:mergeGTF {
        container = "${params.containerDir}/gffcompare-0.12.6.sif"
    }
    withName:filterAnnotate {
        container = "${params.containerDir}/r_rna_filter-4.1.2.sif"
    }

}

// Add custom singularity run options for HPC
singularity {
    runOptions = '-B "/hpc:/hpc" --env "LC_ALL=C.UTF-8"'
}