#!/bin/bash

###############################
### To be changed every run ###
###############################
export WD="/hpc/pmc_vanheesch/projects/mvangijzen/nbl_longread"
export OUTDIR="${WD}/analysis"
export FASTQ="${WD}/data"
export RESOURCE_DIR="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102"
export REF_GENOME="${RESOURCE_DIR}/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
export REF_ANNOT="${RESOURCE_DIR}/annotation/Homo_sapiens.GRCh38.102.gtf"
export JAF_REF="${RESOURCE_DIR}/JAFFAL/"
export JAF_GENOME="hg38"
export JAF_ANNOT="genCode36"
export NF_PROFILE="slurm"
export NXF_HOME="/hpc/pmc_vanheesch/projects/mvangijzen/nxf_home"
export NF_CONFIG="${WD}/documentation/nbl_longread_nextflow.config"
export SAMPLE_SHEET="${WD}/documentation/sample_sheet.csv"