#!/bin/bash

###############################
### To be changed every run ###
###############################
export CPU=8
export WD="/hpc/pmc_vanheesch/projects/mvangijzen/nbl_longread"
export MERGED_GTF_BASENAME="nbl_longread_transcriptome"
export SAMPLES=("A13" "A14" "A15" "E02" "E03" "E05")
export RESOURCE_DIR="/hpc/pmc_vanheesch/shared_resources"
export SPECIES="Homo_sapiens"
export GENOME_VERSION="GRCh38"
export ANNOT="102"
export REF_GENOME="${RESOURCE_DIR}/GENOMES/${SPECIES}.${GENOME_VERSION}/${ANNOT}/${SPECIES}.${GENOME_VERSION}.dna.primary_assembly.fa"

# Containers
export GFFREAD_CONTAINER="/hpc/local/Rocky8/pmc_vanheesch/singularity_images/gffread-0.12.6.sif"
export MINIMAP_CONTAINER="/hpc/local/Rocky8/pmc_vanheesch/singularity_images/nextflow_images/ontresearch-wf-transcriptomes-shae7c9f184996a384e99be68e790f0612f0c732867.img"

