#!/bin/bash

###############################
### To be changed every run ###
###############################
export CPU=8
export WD="/hpc/pmc_vanheesch/projects/mvangijzen/nbl_longread"
export MERGED_GTF_BASENAME="nbl_longread_transcriptome"
export BAM_DIR="${WD}/analysis/salmon_count/transcriptome_alignment"
export REF_TRANSCRIPTOME="${WD}/analysis/salmon_count/${MERGED_GTF_BASENAME}_transcripts.fa"

# Containers
export SALMON_CONTAINER="/hpc/local/Rocky8/pmc_vanheesch/singularity_images/salmon-1.8.0.sif"
export MINIMAP_CONTAINER="/hpc/local/Rocky8/pmc_vanheesch/singularity_images/nextflow_images/ontresearch-wf-transcriptomes-shae7c9f184996a384e99be68e790f0612f0c732867.img"
export SAMTOOLS_CONTAINER="/hpc/local/Rocky8/pmc_vanheesch/singularity_images/samtools-1.16.sif"